* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;

  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.color > span {
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 5px;
}

.resultBox,
.resultBox > p {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.resultBox > p {
  justify-content: center;
  align-items: center;
  border: 0.5px solid darkgray;
  width: 100%;
  height: 100%;
}

.dataBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dataBox > span {
  display: block;
  text-align: center;
  width: 100%;
}
